@model MotoVibe.Models.Customer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer Profile";
}



<h2>Customer Profile</h2>

<div class="customer-profile">
    <h3>Profile Information</h3>

    <div class="row">
        <div class="col-md-6">
            <strong>Name:</strong> @Model.Name
        </div>
        <div class="col-md-6">
            <strong>Email:</strong> @Model.Email
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <strong>Phone Number:</strong> @Model.PhoneNumber
        </div>
        <div class="col-md-6">
            <strong>Address:</strong> @Model.Address
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <strong>Preferred Contact Method:</strong> @Model.PreferredContactMethod
        </div>
        <div class="col-md-6">
            <strong>Customer ID Number:</strong> @Model.CusIdNumber
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <strong>Profile Picture:</strong>
            <img src="@Url.Content("~/Images/johndoe.jpg")" alt="Profile Picture" class="img-thumbnail" />
        </div>
    </div>
</div>